<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-volleyball text-danger"></i>&nbsp;&nbsp;VolleyBall
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Madhu Sudhana Rao"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/volleyball/rep-m.png"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Priyanshi Susawat"
        contact="+91 7722923054"
        mail="2022ceb1005@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/volleyball/rep-f.png"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Hari Bhagavan"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/volleyball/xrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Ayushi Raut"
        contact="+91 7722923054"
        mail="2022ceb1005@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/volleyball/xrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representatives
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Pranav Attri"
        contact="+91 ---"
        mail="2021chb1050@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (M)"
        img="assets/img/sports/volleyball/xxrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Kirtdeep Kaur"
        contact="+91 ---"
        mail="2021eeb1291@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (F)"
        img="assets/img/sports/volleyball/xxrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th INTER IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team reached
      the quarter-finals
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>56th INTER IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girl's team reached Qualifiers.
    </li>
  </ul>

  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan'23</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Boy's team won the
      final
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      final
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan'24</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girl's team won the tournament.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Jemme Butani was Best player of the tournament(Boys)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girl's team won the tournament.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>M. Bhavana was Best player of the tournament(Girls)
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Parakram'22 JUIT
    Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      finals.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Parakram'23 JUIT
    Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      finals.
    </li>
  </ul>
  
  
  <h3 class="d-flex flex-row">
    <i class="fa-solid fa-trophy text-danger me-3 mt-3 ml-4"></i>
    <div>
      ITUSA 2023 - at NIT KURUKSHETRA
    </div>
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      finals.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan'16</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      finals.
    </li>
  </ul>
</div>
