<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-volleyball text-danger"></i>&nbsp;&nbsp;VolleyBall
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="---"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/faculty/profile.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Ayushi Raut"
        contact="+91 7722923054"
        mail="2022ceb1005@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/volleyball/rep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Pranav Attri"
        contact="+91 ---"
        mail="2021chb1050@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/volleyball/xrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Kirtdeep Kaur"
        contact="+91 ---"
        mail="2021eeb1291@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/volleyball/xrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th INTER IIT Sports
    meet (2022)
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Boy's team won the
      match against IIT TIRUPATI
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      match against IIT DHANBAD
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      match against IIT HYDERABAD
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      match against IIT GANDHI NAGAR
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team reached
      the quarter-finals
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Our players for the 55th
      INTER IIT Sport Meet
    </li>
  </ul>

  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>AAROHAN 2016</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      final against JUIT
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i> AAROHAN 2023</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Boy's team won the
      final
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      final
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>JUIT PARAKRAM 2022</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Girl's team won the
      final
    </li>
  </ul>
</div>
