<div class="footer-container p-0 m-0">
  <div class="footer-bg w-100">
    <div class="container p-5">
      <div class="row row-cols-3">
        <div class="col">
          <div class="d-flex align-items-center">
            <img class="logo" src="assets/logo/bosa.png" />
            <div>
              <div class="title-1">Board Of Sports Activites</div>
              <div class="line my-1"></div>
              <div class="title-2">IIT Ropar</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div>Board Of Sports Activites</div>
          <div>IIT Ropar</div>
        </div>
        <div class="col">
          <div>Board Of Sports Activites</div>
          <div>IIT Ropar</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="container d-flex justify-content-between p-5">
      <div class="footer-end-text">
        Copyrights © 2022-23 Student-Affairs IIT Ropar
      </div>
      <div class="footer-end-text">
        Website Developed by
        <a href="#" class="team-link">Web Development Team</a>
      </div>
    </div>
  </div>
</div>
