<div class="footer-container p-0 m-0">
  <div class="footer-bg w-100">
    <div class="container p-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <!-- col 1 -->
        <div class="col" data-aos="fade-up" data-aos-delay="200">
          <div class="d-flex align-items-center">
            <img class="logo" src="assets/logo/bosa.png" />
            <div>
              <div class="title-1">Board Of Sports Activites</div>
              <div class="line my-1"></div>
              <div class="title-2">IIT Ropar</div>
            </div>
          </div>
          <div class="heading-s m-3">Contact Us</div>
          <div class="d-flex m-3 align-items-center">
            <i class="fa-solid fa-location-dot text-danger me-4"></i>
            <div class="ms-1">
              <div class="footer-text-normal">
                Indian Institute of Technology Ropar
              </div>
              <div class="footer-text-normal">
                Rupnagar, Punjab - 140001, India
              </div>
            </div>
          </div>
          <div class="d-flex m-3 align-items-center">
            <i class="fa-solid fa-phone text-danger me-4"></i>
            <div class="footer-text-normal">Phone: +91 92052 09274</div>
          </div>
          <div class="d-flex m-3 align-items-center">
            <i class="fa-solid fa-envelope text-danger me-4"></i>
            <div class="footer-text-normal">
              Mail us at: president.sc@iitrpr.ac.in
            </div>
          </div>
          <div class="d-flex m-3 align-items-center">
            <i class="fa-brands fa-instagram text-danger me-4"></i>
            <div class="footer-text-normal">Instagram : @sports.iitrpr</div>
          </div>
        </div>
        <!-- col 2-->
        <div class="col" data-aos="fade-up" data-aos-delay="200">
          <div class="heading ms-3">Quick Links</div>
          <div class="ms-3 mt-4 mb-2">
            <a href="http://www.iitrpr.ac.in/" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Official Website</div></a
            >
          </div>
          <div class="ms-3 mb-2">
            <a href="http://www.iitrpr.ac.in/ismp" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">ISMP</div></a
            >
          </div>
          <div class="ms-3 mb-2">
            <a href="http://www.iitrpr.ac.in/ug-section" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">UG Academics</div></a
            >
          </div>
          <div class="ms-3 mb-2">
            <a href="http://www.iitrpr.ac.in/pg-section" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">PG Academics</div></a
            >
          </div>
          <div class="ms-3 mb-2">
            <a href="https://www.iitrpr.ac.in/moodle/" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Moodle</div></a
            >
          </div>
          <div class="ms-3">
            <a href="https://alumni.iitrpr.ac.in/" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">IRIAA</div></a
            >
          </div>
        </div>
        <!-- col 3 -->
        <div class="col" data-aos="fade-up" data-aos-delay="200">
          <div class="heading ms-3">Social Media Handles</div>
          <div class="ms-3 mt-4">
            <a
              href="https://www.instagram.com/athletics_iit_ropar/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Athletics</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/badminton_iitrpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Badminton</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/basketball_iitrpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Basketball</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/chess_club_iit_ropar/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Chess</div></a
            >
          </div>
          <div class="ms-3">
            <a href="https://www.instagram.com/cricket_iitrpr/" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Cricket</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/football_club_iitrpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Football</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/hockey__iit__rpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Hockey</div></a
            >
          </div>

          <div class="ms-3">
            <a
              href="https://www.instagram.com/lawn.tennis_clubiitrpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Lawn Tennis</div></a
            >
          </div>
          <div class="ms-3">
            <a href="https://www.instagram.com/volley_iitrpr/" target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">VolleyBall</div></a
            >
          </div>
          <div class="ms-3">
            <a
              href="https://www.instagram.com/weightliftingclub_iitrpr/"
              target="_blank"
              ><i
                class="fa-solid fa-caret-down fa-rotate-270 text-danger me-2"
              ></i>
              <div class="d-inline link">Weightlifting & Gyming</div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom line -->
  <div class="bg-dark">
    <div class="container d-flex justify-content-between p-2 p-sm-5">
      <div class="footer-end-text me-5">
        Copyrights © 2022-23 Student Affairs IIT Ropar
      </div>
      <div class="footer-end-text">
        Website Developed by
        <a
          href="https://github.com/shivambhagat79/bosa-website"
          class="team-link"
          target="_blank"
          >Web Development Team</a
        >
      </div>
    </div>
  </div>
</div>
