a {
  text-decoration: none;
}

.logo {
  height: 70px;
}

.logo-text {
  color: white;
  font-family: "Monteserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.logo-container:hover {
  cursor: pointer;
}

.nav-menu {
  position: sticky;
  background-color: rgba(0, 0, 0, 1);
  height: 65px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: red;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-top: solid 5px red;
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.25s ease-in-out;
}

.dropdown-item:hover {
  color: red;
  padding: 12px 20px;
  background-color: rgba(105, 105, 105, 0.116);
}

.menu-icon {
  font-size: 24px;
}

.collapse-nav-menu {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

.collapseOpen {
  display: block;
}

.nav-link-collapse {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link-container-collapse:hover .nav-link-collapse {
  color: red;
}

.nav-link-container-collapse:hover {
  cursor: pointer;
}

.dropdown-content-collapse {
  display: none;
  /* border-top: solid 5px red; */
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container:hover .nav-link-collapse {
  color: red;
}

.dropdown-container:hover {
  cursor: pointer;
}

.dropdownContentCollapseOpen {
  display: block;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 576px) {
  .logo-text {
    font-size: 16px;
  }
}
