<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-medal text-danger"></i>&nbsp;&nbsp;Badminton
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Rishabh Rawat"
        contact="+91 ---"
        mail="2022chb1055@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/badminton/rep-m.png"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Riya Meena"
        contact="+91 ---"
        mail="2022meb1308@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/badminton/rep-f.png"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Purab Gupta"
        contact="+91 ---"
        mail="2022chb1055@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/badminton/xrep-m.jpeg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Gandhe Harshitha"
        contact="+91 ---"
        mail="2022meb1308@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/badminton/xrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representatives
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shobhit Juglan"
        contact="+91 ---"
        mail="2021csb1133@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (M)"
        img="assets/img/sports/badminton/xxrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shreya Maheshwari"
        contact="+91 ---"
        mail="2021eeb1212@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (F)"
        img="assets/img/sports/badminton/xxrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Boys team qualified for the next round from the pool stage.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>56th Inter IIT Sports
    Meet
  </h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Boys team qualified for the next round from the pool stage.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan'23</h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Both Boys and Girls team secured 2nd position.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan'24</h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girls team secured 3rd position.
    </li>
  </ul>
</div>
