<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-icons text-danger"></i>&nbsp;&nbsp;Social Media Coordinators
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Coordinators
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Nachiket Patil"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/sports/socialmedia-co/smc-1.jpg"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position=""
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Kartik Mittal"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position=""
        img="assets/img/sports/socialmedia-co/smc-2.jpg"
      ></app-rep-info-card>
    </div>
  </div>
</div>
