<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-basketball text-danger"></i>&nbsp;&nbsp;Basketball
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>INTER IIT 2022</h3>

  <ul>
    <li>Participated in inter IIT 2022 held at IIT Delhi.</li>
    <li>Boys Team Qualified for Pre-quarter finals.</li>
    <li>Boys Team finished at 2nd position in our pool.</li>
  </ul>

  <h3>Aarohan 23’</h3>

  <ul>
    <li>Girls Team secured 3rd position.</li>
  </ul>
</div>
