<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-basketball text-danger"></i>&nbsp;&nbsp;Basketball
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Mandeep Chaudhary"
        contact="+91 ---"
        mail="2022csb1109@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/basketball/rep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Princi"
        contact="+91 ---"
        mail="2022csb1112@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/basketball/rep-f.png"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Raj Yadav"
        contact="+91 ---"
        mail="2022csb1109@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/basketball/xrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Rhea Sanjay"
        contact="+91 ---"
        mail="2022csb1112@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/basketball/xrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representatives
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Gopal  Bansal"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (M)"
        img="assets/img/sports/basketball/xxrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shubha Tanaya"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (F)"
        img="assets/img/sports/basketball/xxrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Participated in inter
      IIT 2022 held at IIT Delhi.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Boys Team Qualified for
      Pre-quarter finals.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Boys Team finished at
      2nd position in our pool.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>Parakram'23
  </h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girls secured 3rd position.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>Aarohan'23</h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girls Team secured 3rd
      position.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>Aarohan'24</h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Boys secured 2nd position.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Girls secured 3rd position.
    </li>
  </ul>
</div>
