<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-person-swimming text-danger"></i>&nbsp;&nbsp;Aquatics
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representative
    <div class="line ms-3"></div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Moksh Kandpal"
        contact="+91 9158350332"
        mail="2022meb1348@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/sports/aquatics/rep.jpg"
      ></app-rep-info-card>
    </div>
  </div>
   <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Neeraj Kumar"
        contact="+91 9158350332"
        mail="2022meb1348@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/aquatics/xrep.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <!-- <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representative
    </span>
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Dhruv"
        contact="+91 ---"
        mail="2021csb1167@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative"
        img="assets/img/sports/chess/xxrep.jpeg"
      ></app-rep-info-card>
    </div>
  </div> -->

</div>
