<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-chess text-danger"></i>&nbsp;&nbsp;Chess
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representative
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Spandan Seth"
        contact="+91 9158350332"
        mail="2022meb1348@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/sports/chess/rep.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representative
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Dhruv"
        contact="+91 ---"
        mail="2021csb1167@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/chess/xrep.jpeg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>The Chess Club of IIT
    Ropar was placed on 6th in INTER IIT Sports Fest.They were joint third.
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the first round our
      team won against IIT Mandi by 3.5-0.5
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the third round our
      team won against IIT Tirupati by 2.5-1.5
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the fourth round our
      team drew against IIT Hyderabad.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the fifth round our
      team drew against IIT Gandhi Nagar.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the sixth round our
      team drew against IIT Dharwad.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>In the seventh round our
      team won against IIT Kanpur by 3-1.
    </li>
  </ul>
  <h4 class="my-4">
    <i class="fa-solid fa-trophy text-danger me-3"></i>The Team A of IIT Ropar
    were winners in Arohan Sports Fest and the Team B of IIT Ropar were the
    runner ups.
  </h4>
  <h4 class="my-4">
    <i class="fa-solid fa-trophy text-danger me-3"></i>The chess club of IIT
    Ropar also participated in Chessler’s Chess Tournament which was conducted
    online.
  </h4>
  <h4 class="my-4">
    <i class="fa-solid fa-trophy text-danger me-3"></i>In JUIT Sports Event our
    boy’s team was placed on 3rd position and our girl’s team was placed on 2nd
    postion.
  </h4>
</div>
