<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-table-tennis-paddle-ball text-danger"></i
    >&nbsp;&nbsp;Table Tennis
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Tejasva Jindal"
        contact="+91 ---"
        mail="2022meb1359@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/tableTennis/rep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Astha Singhal"
        contact="+91 ---"
        mail="2022eeb1164@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/tableTennis/rep-f.png"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Ritul Anand"
        contact="+91 ---"
        mail="2021eeb1027@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/tableTennis/xrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Aadhya Tiwari"
        contact="+91 ---"
        mail="2021chb1036@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/tableTennis/xrep-f.jpeg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>PARAKRAM’22:</h3>
  <p>
    The Table Tennis Men participated in the sports fest of JUIT And Won Gold
    Medal defeating MANIPAL UNIVERSITY, JUIT B AND JUIT A.
  </p>

  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>UDGHOSH’22:</h3>
  <p>
    The Table Tennis Men participated in the sports fest of IIT KANPUR and
    reached the quarter finals defeating IIT KANPUR A, RAJIV GANDHI UNIVERSITY
    and INTEGRAL UNIVERSITY.
  </p>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>RANN-NEETI’22:</h3>
  <p>
    The Table Tennis Team participated in the sports fest of IIT MANDI and The
    Table Tennis men won the silver medal defeating IIT MANDI A, THAPAR COLLEGE
    and IIIT DELHI
  </p>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>INTER IIT:</h3>
  <p>
    The Table Tennis Team participated in the 55TH INTER IIT SPORTS MEET held at
    IIT DELHI. The Table Tennis Men won the bronze medal defeating IIT DELHI,
    IIT KANPUR, IIT INDORE, IIT GUWAHATI and IIT KHARAGPUR. The Table Tennis
    Women defeated IIT JAMMU and IIT BHU(VARANASI)
  </p>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>AAROHAN’23:</h3>
  <p>
    The Table Tennis men won the silver medal in the sports fest of IIT ROPAR
  </p>
</div>
