<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-table-tennis-paddle-ball text-danger"></i
    >&nbsp;&nbsp;Table Tennis
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Chirag Tayal"
        contact="+91 ---"
        mail="2022meb1359@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/tableTennis/rep-m.png"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vaishnavi Pal"
        contact="+91 ---"
        mail="2022eeb1164@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/tableTennis/rep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Tejasva Jindal"
        contact="+91 ---"
        mail="2022meb1359@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/tableTennis/xrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Astha Singhal"
        contact="+91 ---"
        mail="2022eeb1164@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/tableTennis/xrep-f.png"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representatives
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Ritul Anand"
        contact="+91 ---"
        mail="2021eeb1027@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (M)"
        img="assets/img/sports/tableTennis/xxrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Aadhya Tiwari"
        contact="+91 ---"
        mail="2021chb1036@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (F)"
        img="assets/img/sports/tableTennis/xxrep-f.jpeg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      The Table Tennis Men won the Bronze Medal.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>56th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Boy's team reached pre Quarter finals.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Girls team secured fourth position.
    </li>
  </ul>

  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>Aarohan'23</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      The Table Tennis men won the silver medal in the sports fest.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>Aarohan'24</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
Boy's team secured thrid position.    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
Girl's team secured first position.    </li>
  </ul>

  <h3 class="d-flex flex-row">
    <i class="fa-solid fa-trophy text-danger me-3 mt-3 ml-4"></i>
    <div>
      Rann Neeti'22 IIT Mandi Sports Fest
    </div>
  </h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Table Tennis men won the
      Silver Medal.
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Parakram'22 JUIT
    Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Table Tennis Men
      Team Won Gold Medal.
    </li>
  </ul>
  
  <h3 class="d-flex flex-row">
    <i class="fa-solid fa-trophy text-danger me-3 mt-3 ml-4"></i>
    <div>
      Udghosh'22 IIT Kanpur Sports Fest
    </div>
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>The Table Tennis Men
      Team Qualified for quarter-finals.
    </li>
  </ul>
</div>
