<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-regular fa-futbol text-danger"></i>&nbsp;&nbsp;Football
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representstive
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Apum Dupak"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/faculty/profile.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representstive
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Himanshu Kumar"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/football/xrep.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT sports
    meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Match tied in 1st match against IIT Jodhpur
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won the 2nd match against IIT Indore
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won the pre quarter final against IIT Kharagpur
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Played quarter final
      against IIT Roorkee
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>AAROHAN (2023)
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won 1st match against AKGEC team
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won 2nd match against HBTU team
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      2nd place in Football men
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>IIT MANDI SPORTS
    FEST (2022)
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won against HYDRO Bilaspur
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Won against IIIT Delhi
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Played semi-final against IIT Mandi
    </li>
  </ul>
</div>
