<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-regular fa-futbol text-danger"></i>&nbsp;&nbsp;Football
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representative
    <div class="line ms-3"></div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Aditya Kumar"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/sports/football/rep.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representative
    <div class="line ms-3"></div>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Apum Dupak"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/football/xrep.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Former Representative
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Himanshu Kumar"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative"
        img="assets/img/sports/football/xxrep.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Qualified for quarter finals.
    </li>
  </ul>

  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>Aarohan'23</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      IIT Ropar secured 2nd position.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-4"></i>Aarohan'24</h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      IIT Ropar secured 2nd position.
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>MIRAZ'24 IIT Mandi Sports Fest
  </h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT ROPAR qualified for the semifinals.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Rann Neeti'22 IIT
    Mandi Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Qualified for
      semi-finals.
    </li>
  </ul>
</div>
