<div class="container base">
  <!-- Title -->
  <div class="d-flex align-items-center justify-content-center">
    <img class="logo" src="assets/logo/bosa.png" />
    <div>
      <div class="title me-3">Board Of Sports Activites, IIT Ropar</div>
    </div>
  </div>
  <!-- heading -->
  <h1 class="title-2 text-center my-4">Our Team</h1>
  <!-- AY-2023-24 -->
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    2023-24
    <div class="line ms-3"></div>
  </div>
  <!-- Officials -->
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card>
  </div>
  <!-- AY-2022-23 -->
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    2022-23
    <div class="line ms-3"></div>
  </div>
  <!-- Officials -->
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card>
  </div>
  <!-- AY-2021-22 -->
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    2021-22
    <div class="line ms-3"></div>
  </div>
  <!-- Officials -->
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card
    ><app-rep-info-card
      name="Name Here"
      img="assets/img/faculty/profile.jpg"
      position="Position Here"
    ></app-rep-info-card>
  </div>
</div>
