<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-dumbbell text-danger"></i>&nbsp;&nbsp;Weightlifting
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representative
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Saaransh Sharma "
        contact="+91 6239899829"
        mail="2022csb1114@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/sports/weightlifting/rep.jpeg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representative
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Ankit Gera"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/weightlifting/xrep.jpeg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Pankaj Suthar won consolation prize in Bodybuilding competition in under
      70 kg weight category .
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Participated in all weight categories ranging from under 56 kg to 77+ kg
      in weightlifting competition.
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Rann Neeti'22 IIT
    Mandi Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Weightlifting team won Gold Medal in all 6 weight categories.
    </li>
  </ul>
</div>
