<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-medal text-danger"></i>&nbsp;&nbsp;Lawn Tennis
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Arav Bhargava"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/lawnTennis/rep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vaishnavi Gowrishankar"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/lawnTennis/rep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Edgar Aditya Thorpe"
        contact="+91 ---"
        mail="2021csb1169@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/lawnTennis/xrep-m.PNG"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vrinda Dua"
        contact="+91 ---"
        mail="2021mcb1223@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/lawnTennis/xrep-f.PNG"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>Inter IIT’22 Girls Tennis
  </h3>
  <p>
    With players from fourteen different IIT’s all across India competing, the
    IIT Ropar Girl’s Tennis Team bagged both Gold and Player of the Tournament
    (Ms Vrinda Dua).
  </p>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>IIT Mandi’s Rann-Neeti’22
    Girls Tennis
  </h3>
  <p>
    Playing against teams across North-Western India, the IIT Ropar Girls Tennis
    Team won Gold.
  </p>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>IIT Mandi’s Rann-Neeti’22
    Boys Tennis-
  </h3>
  <p>
    Competing amongst players from North-Western India, the IIT Ropar Boys
    Tennis Team qualified for the Semi-finals.
  </p>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>Aarohan’23 Boys Tennis
  </h3>
  <p>
    In IIT Ropar’s Annual Sports Fest, the IIT Ropar Boys Tennis Team won
    Silver.
  </p>
</div>
