<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-medal text-danger"></i>&nbsp;&nbsp;Lawn Tennis
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Arav Bhargava"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
        img="assets/img/sports/lawnTennis/rep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vaishnavi Gowrishankar"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/lawnTennis/rep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Edgar Aditya Thorpe"
        contact="+91 ---"
        mail="2021csb1169@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
        img="assets/img/sports/lawnTennis/xrep-m.PNG"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vrinda Dua"
        contact="+91 ---"
        mail="2021mcb1223@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/lawnTennis/xrep-f.PNG"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Vrinda Dua secured Gold Medal and Player Of The Tournament for the Girls
      Team.
    </li>
  </ul>

  <h3>
    <i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Rann Neeti'22 IIT
    Mandi Sports Fest
  </h3>

  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT Ropar Girls Team won
      the Gold Medal.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT Ropar Boys Team
      qualified for the semi-finals.
    </li>
  </ul>

  <h3><i class="fa-solid fa-trophy text-danger me-3 mt-3"></i>Aarohan’23</h3>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      IIT Ropar Boys Tennis Team won Silver Medal.
    </li>
  </ul>
</div>
