<!-- <div class="caorusel-container">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/img/gallery/img-1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/gallery/img-2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/gallery/img-3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
<div class="carousel-container w-100">
  <div class="image-carousel mx-auto my-carousel carousel--translate my-0">
    <input
      class="carousel__activator"
      type="radio"
      name="carousel"
      id="F"
      checked="checked"
    />
    <input class="carousel__activator" type="radio" name="carousel" id="G" />
    <input class="carousel__activator" type="radio" name="carousel" id="H" />
    <input class="carousel__activator" type="radio" name="carousel" id="I" />

    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="I"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="G"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="F"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="H"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="G"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="I"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="H"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="F"
      ></label>
    </div>

    <div class="carousel__track">
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
    </div>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="F"></label>
      <label class="carousel__indicator" for="G"></label>
      <label class="carousel__indicator" for="H"></label>
      <label class="carousel__indicator" for="I"></label>
    </div>
  </div>
</div>
