<app-preloader *ngIf="isLoading"></app-preloader>

<!-- Image Carousel -->
<div *ngIf="!isLoading" class="carousel-container w-100">
  <div class="image-carousel mx-auto my-carousel carousel--translate my-0">
    <input
      class="carousel__activator"
      type="radio"
      name="carousel"
      id="F"
      checked="checked"
    />
    <input class="carousel__activator" type="radio" name="carousel" id="G" />
    <input class="carousel__activator" type="radio" name="carousel" id="H" />
    <input class="carousel__activator" type="radio" name="carousel" id="I" />

    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="I"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="G"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="F"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="H"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="G"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="I"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="H"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="F"
      ></label>
    </div>

    <div class="carousel__track">
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
      <li class="carousel__slide"></li>
    </div>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="F"></label>
      <label class="carousel__indicator" for="G"></label>
      <label class="carousel__indicator" for="H"></label>
      <label class="carousel__indicator" for="I"></label>
    </div>
  </div>
</div>

<!-- Image carousel ends -->

<div
  *ngIf="!isLoading"
  class="container mb-4"
  data-aos="zoom-in"
  data-aos-delay="100"
>
  <div class="d-flex align-items-center justify-content-center">
    <img class="logo" src="assets/logo/bosa.png" />
    <div>
      <div class="title">Board Of Sports Activites, IIT Ropar</div>
    </div>
  </div>
  <!-- Words from reps -->
  <div class="card my-5 mx-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="assets/img/sports/profiles/profile.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title heading">Words from the Sports Officer</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            quasi cumque facere illum earum repellat nihil ipsam est asperiores
            consequatur, laudantium aliquid vel quam velit pariatur recusandae
            libero reprehenderit esse!
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Words from reps -->
  <div class="card my-5 mx-3" data-aos="zoom-in" data-aos-delay="100">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="assets/img/sports/profiles/profile.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title heading">Words from the General Secretory</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            quasi cumque facere illum earum repellat nihil ipsam est asperiores
            consequatur, laudantium aliquid vel quam velit pariatur recusandae
            libero reprehenderit esse!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-xl-2">
    <div class="col" data-aos="zoom-in" data-aos-delay="100">
      <div class="heading my-4 p-3">Our Mission</div>
      <p class="px-3">
        "Sports do not build character. They reveal it." It is often said that
        the key to a sharp mind is a healthy body and therefore to make its
        students "healthy, wealthy and wise" IIT Ropar lays a huge emphasis on
        promoting sports activities among it's students. And thus the sports
        become an integral part of the education process of the students. The
        students have various sports facilities which they enjoy every day in
        campus. Presently, IIT Ropar has one cricket field, three cricket
        practise pitches, three clay tennis courts, two volleyball courts, a
        football field, a hockey field, a gymnasium, two table tennis tables, a
        basketball court, a badminton court and a ground for different athletic
        events.
      </p>
    </div>
    <div class="col d-none d-xl-block">
      <div class="image-grid p-3 row row-cols-2 g-3 my-3s">
        <div class="col">
          <img src="assets/img/gallery/img-9.jpg" alt="Image1" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-10.jpg" alt="Image2" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-11.jpg" alt="Image3" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-12.jpg" alt="Image4" />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image-grid p-3 row row-cols-2 g-3 my-3">
        <div class="col">
          <img src="assets/img/gallery/img-1.jpg" alt="Image1" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-2.jpg" alt="Image2" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-3.jpg" alt="Image3" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-4.jpg" alt="Image4" />
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-delay="100">
      <div class="heading my-4 p-3">Aarohan</div>
      <p class="px-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum ea
        provident magnam inventore. Rem voluptate odit esse quibusdam, cum totam
        enim in, similique atque sit eligendi! Possimus exercitationem expedita
        necessitatibus, tempora magnam quia quod, nihil recusandae neque ab cum
        sint consectetur esse mollitia maiores nobis dolores. Amet dignissimos
        beatae ut eos iure laudantium tempora eveniet obcaecati sit doloribus
        molestiae magnam qui, asperiores a totam quibusdam, fuga repudiandae
        nesciunt in, exercitationem sapiente. Inventore, ad ex. Tempora soluta
        facilis repudiandae laborum, quisquam cum assumenda tenetur quo est quos
        qui ad. Deleniti eos nihil fugiat at eum necessitatibus modi laborum?
        Quaerat, facilis!
      </p>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-delay="100">
      <div class="heading my-4 p-3">Inter IIT</div>
      <p class="px-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos
        voluptates, aut distinctio quos explicabo in error illo numquam! Quod
        eligendi, ex natus iure odit expedita ab delectus nisi numquam
        repudiandae, laudantium sint ut corrupti fugiat, minima commodi magni
        repellendus. Itaque sapiente enim, quisquam doloribus tempore ut ullam
        officiis deserunt nihil laborum consequatur sequi, minima quaerat et
        recusandae ratione inventore obcaecati nobis dolor expedita aut id
        optio? Nostrum ipsam temporibus incidunt, aliquid sunt nemo est
        cupiditate harum quis omnis dignissimos, sed sint accusamus vitae
        corrupti labore numquam ut cumque praesentium dolorum neque. Eos nobis,
        numquam eius modi asperiores id laborum. Cum.
      </p>
    </div>
    <div class="col">
      <div class="image-grid p-3 row row-cols-2 g-3 my-3">
        <div class="col">
          <img src="assets/img/gallery/img-11.jpg" alt="Image1" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-12.jpg" alt="Image2" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-13.jpg" alt="Image3" />
        </div>
        <div class="col">
          <img src="assets/img/gallery/img-14.jpg" alt="Image4" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gallery -->
<div *ngIf="!isLoading" class="w-100 bg-dark text-center p-4 text-light title">
  <div data-aos="zoom-in" data-aos-delay="100">
    Image Gallery<button
      type="button"
      class="btn btn-danger btn-lg ms-3 fs-6 fw-bold"
      (click)="onGalleryButtonClicked()"
    >
      View All
    </button>
  </div>
</div>
<div *ngIf="!isLoading" class="w-100">
  <div class="image-holder row row-cols-2 row-cols-lg-4 g-0 bg-dark">
    <div class="col">
      <img
        (click)="onImageClicked(5)"
        class="gallery-img"
        src="assets/img/gallery/img-5.jpg"
        alt=""
      />
    </div>
    <div class="col">
      <img
        (click)="onImageClicked(9)"
        class="gallery-img"
        src="assets/img/gallery/img-9.jpg"
        alt=""
      />
    </div>
    <div class="col">
      <img
        (click)="onImageClicked(7)"
        class="gallery-img"
        src="assets/img/gallery/img-7.jpg"
        alt=""
      />
    </div>
    <div class="col">
      <img
        (click)="onImageClicked(8)"
        class="gallery-img"
        src="assets/img/gallery/img-8.jpg"
        alt=""
      />
    </div>
  </div>
</div>
