<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-person-running text-danger"></i>&nbsp;&nbsp;Athletics
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representatives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Sumit Kumar"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/sports/athletics/rep-m.jpg"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Elaine Anna Joseph"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (F)"
        img="assets/img/sports/athletics/rep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Ex - Representative
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Xshitij Chahal"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/sports/athletics/xrep-m.jpg"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Harjas Kaur"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative (F)"
        img="assets/img/sports/athletics/xrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    <span style="text-wrap: nowrap; font-size: smaller;">
      Former Representatives
    </span>
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shivansh Dagar"
        contact="+91 ---"
        mail="2021csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (M)"
        img="assets/img/sports/athletics/xxrep-m.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vinita Solanki"
        contact="+91 ---"
        mail="---@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Former Representative (F)"
        img="assets/img/sports/athletics/xxrep-f.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT Sports
    Meet
  </h3>
  <p>
    IIT Ropar Athletics Team secured 10th place among 23 IITs in the Athletics
    Championship. The highlight of overall performance of the team is as
    follows:
  </p>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Amit Kumar Chhipa won Bronze Medal in the Discus Throw (Men) final and
      secured 4 th place in the Shot Put (Men) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Sawan Kumar Meena secured 6 th place in the 800 m (Men) final and 8 th
      place in the 5000 m (Men) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Kushal Agarwal secured 8 th place in the Discus Throw (Women) final. • IIT
      Ropar team secured 8 th place in the 4×400 m (Men) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Yogita secured 10th
      place in the 1500 m (Women) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sayed Musaraf secured
      10th place in the Long Jump (Men) final.
    </li>
  </ul>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>56th Inter IIT Sports
    Meet
  </h3>
  <p>
    IIT Ropar Athletics Team secured 10th place among 23 IITs in the Athletics
    Championship. The highlight of overall performance of the team is as
    follows:
  </p>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Sawan Kumar Meena secured 4th position in 800m (Men) final and 7th position in 400m (Men) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Xshitiz Chahal secured 7th position in the Shot Put (Men) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>
      Ajay Kumar Poonia secured 9th position in 110m Hurdles (Men) final and 10 th position in 400m Hurdles (Men) final
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Harjas Kaur secured 9th position in 200m (Women) final and 11th position in 100m (Women) final.
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT Ropar team secured 7th place in the 4*100m (Men) final and 9th place in the 4*400m (Men) final.
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>Aarohan'23</h3>
  <p>
    IIT Ropar Athletics Team Won the Overall athletics General Championship. The
    highlight of overall performance of the team is as follows:
  </p>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sakshat Chahal won the
      Gold Medal in 5000m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Mohd. Junaid won the
      Bronze Medal in 5000m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Yogita won the Bronze
      Medal in 5000m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Amit Kumar Chhipa won
      the Gold Medal in Shotput (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Xshitiz Chahal won the
      Silver Medal in Shotput (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Kushal won the Silver
      Medal in Shotput (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajaybeer Singh won the
      silver medal in 200m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sakshat Chahal won the
      Gold Medal in 1500m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sawan Kumar won the
      Silver medal in 1500m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajaybeer Singh won the
      silver medal in 100m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Kushal won the Gold
      Medal in Discus Throw (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Amit Kumar Chhippa won
      the Gold Medal in Discus Throw (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sawan Kumar won the Gold
      medal in 800m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sakshat Chahal won the
      Silver Medal in 800m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Dev Kukreja won the Gold
      medal in 400m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Nishant won the Silver
      medal in 400m(Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT Ropar Men’s relay
      Team won both 4X100m and 4X400m relays
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Kushal won the Gold
      Medal in Javelin Throw (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Kritika won the Gold
      Medal in Javelin Throw (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Amit Kumar Chhipa won
      the Gold Medal in Javelin Throw (Men)
    </li>
  </ul>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>Aarohan'24</h3>
  <p>
    IIT Ropar Athletics Team won the Overall Athletics General Championship, with the following highlights of their performance:
  </p>
  <ul>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajaybeer Singh won the Gold Medal in 100m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Rishi won the Silver Medal in 100m(Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Harjas Kaur won the Gold Medal in 100m(Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Somya Katoch won the Bronze Medal in 100m (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajaybeer Singh won the Gold Medal in 200m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajay Kumar Poonia won the Silver Medal in 200m (Men)

    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Harjas Kaur won the Gold Medal in 200m(Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Elaine Anna Joseph won the Silver Medal in 200m(Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Ajay Kumar Poonia won the Gold Medal in 400m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sumit Kumar won the Bronze Medal in 400m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Harjas Kaur won the Gold Medal in 400m(Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Elaine Anna Joseph won the Silver Medal in 400m(Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Sawan Kumar Meena won the  Gold medal in 800m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Badri won the Bronze Medal in 800m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Surender won the Gold Medal in 5000m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Gurmeet won the Bronze Medal in 5000m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Surender won the Gold Medal in 1500m (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Xshitiz Chahal won the Silver Medal in Shot Put (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Somya Katoch won the Gold Medal in Shot Put (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Xshitiz Chahal won the Silver Medal in Discus Throw (Men)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Kushal won the Gold Medal in Discus Throw (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>Somya Katoch won the Bronze Medal in Discus Throw (Women)
    </li>
    <li>
      <i class="fa-solid fa-medal text-danger me-3"></i>IIT Ropar's Men and Women Team won the Gold Medal in  4*100m relay
    </li>
  </ul>
</div>
