<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-medal text-danger"></i>&nbsp;&nbsp;Athletics
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representstives
    <div class="line ms-3"></div>
  </div>
  <div class="row row-cols-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shivam Bhagat"
        contact="+91 7087662582"
        mail="2022csb1123@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative (M)"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>55th Inter IIT sports meet</h3>
  <p>
    IIT Ropar Athletics Team secured 10th place among 23 IITs in the Athletics
    Championship. The highlight of overall performance of the team is as
    follows:
  </p>
  <ul>
    <li>
      Amit Kumar Chhipa won Bronze Medal in the Discus Throw (Men) final and
      secured 4 th place in the Shot Put (Men) final.
    </li>
    <li>
      Sawan Kumar Meena secured 6 th place in the 800 m (Men) final and 8 th
      place in the 5000 m (Men) final.
    </li>
    <li>
      Kushal Agarwal secured 8 th place in the Discus Throw (Women) final. • IIT
      Ropar team secured 8 th place in the 4×400 m (Men) final.
    </li>
    <li>Yogita secured 10th place in the 1500 m (Women) final.</li>
    <li>Sayed Musaraf secured 10th place in the Long Jump (Men) final.</li>
  </ul>
  <h3>Aarohan 23’</h3>
  <p>
    IIT Ropar Athletics Team Won the Overall athletics General Championship. The
    highlight of overall performance of the team is as follows:
  </p>
  <ul>
    <li>Sakshat Chahal won the Gold Medal in 5000m (Men)</li>
    <li>Mohd. Junaid won the Bronze Medal in 5000m (Men)</li>
    <li>Yogita won the Bronze Medal in 5000m (Men)</li>
    <li>Amit Kumar Chhipa won the Gold Medal in Shotput (Men)</li>
    <li>Xshitiz Chahal won the Silver Medal in Shotput (Men)</li>
    <li>Kushal won the Silver Medal in Shotput (Women)</li>
    <li>Ajaybeer Singh won the silver medal in 200m (Men)</li>
    <li>Sakshat Chahal won the Gold Medal in 1500m (Men)</li>
    <li>Sawan Kumar won the Silver medal in 1500m (Men)</li>
    <li>Ajaybeer Singh won the silver medal in 100m (Men)</li>
    <li>Kushal won the Gold Medal in Discus Throw (Women)</li>
    <li>Amit Kumar Chhippa won the Gold Medal in Discus Throw (Men)</li>
    <li>Sawan Kumar won the Gold medal in 800m (Men)</li>
    <li>Sakshat Chahal won the Silver Medal in 800m (Men)</li>
    <li>Dev Kukreja won the Gold medal in 400m (Men)</li>
    <li>Nishant won the Silver medal in 400m(Men)</li>
    <li>IIT Ropar Men’s relay Team won both 4X100m and 4X400m relays</li>
    <li>Kushal won the Gold Medal in Javelin Throw (Women)</li>
    <li>Kritika won the Gold Medal in Javelin Throw (Women)</li>
    <li>Amit Kumar Chhipa won the Gold Medal in Javelin Throw (Men)</li>
  </ul>
</div>
