<div class="container base">
  <!-- Title -->
   <!-- 2023 winners -->
  <div class="d-flex align-items-center justify-content-center">
    <img class="logo" src="assets/logo/bosa.png" />
    <div>
      <div class="title me-3">Board Of Sports Activites, IIT Ropar</div>
    </div>
  </div>

  <h1 class="title-2 text-center my-4">Inter IIT Winners - 2023</h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    800m(men)
    <div class="line ms-3"></div>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Sawan Kumar Meena"
      img="assets/img/interiit-winners/sawan.png"
      position="4th Position"
    >
    </app-rep-info-card>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Table Tennis(girls)
    <div class="line ms-3"></div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Aadhya Tiwari"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/interiit-winners/Aadhya.jpg"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="4th Position"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Shreya Maheshwari"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="4th Position"
        img="assets/img/interiit-winners/shreya.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Prabhreet Kaur"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="4th Position"
        img="assets/img/interiit-winners/Prabhreet.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Lawn Tennis(girls)
    <div class="line ms-3"></div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Vrinda Dua"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/interiit-winners/Vrinda.jpg"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Gold Medal , Best Player"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Spurty Mula"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Gold Medal"
        img="assets/img/interiit-winners/Spurthy.png"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Vaishnavi G"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Gold Medal"
        img="assets/img/interiit-winners/vaishnavi.jpg"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Pratibha"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Gold Medal"
        img="assets/img/interiit-winners/pratibha.jpg"
      ></app-rep-info-card>
    </div>
  </div>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Weightlifting
    <div class="line ms-3"></div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-5">
    <div class="col">
      <app-rep-info-card
        name="Man Singh"
        contact="+91 8864999985"
        mail="2022eeb1171@iitrpr.ac.in"
        img="assets/img/interiit-winners/ManSingh.png"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Silver Medal in U69 kg Category"
      ></app-rep-info-card>
    </div>
    <div class="col">
      <app-rep-info-card
        name="Ashok Kumar Saini"
        contact="+91 9805554463"
        mail="2022ceb1034@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Bronze Medal in U62 kg Category"
        img="assets/img/interiit-winners/Ashok.png"
      ></app-rep-info-card>
    </div>
  </div>

  <!-- 2022 winners -->

  <h1 class="win22 title-2 text-center my-6">Inter IIT Winners - 2022</h1>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Cricket
    <div class="line ms-3"></div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Ayush Gupta"
      img="assets/img/interiit-winners/AyushGupta.jpeg"
      position="Player of the Tournament , Team - 4th Position"
    >
    </app-rep-info-card>
  </div>
 
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Discuss Throw
    <div class="line ms-3"></div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Amit Chippa"
      img="assets/img/interiit-winners/AmitChippa.jpeg"
      position="Bronze Medal"
    >
    </app-rep-info-card>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Shot Put
    <div class="line ms-3"></div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Amit Chippa"
      img="assets/img/interiit-winners/AmitChippa.jpeg"
      position="4th Position"
    >
    </app-rep-info-card>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Lawn Tennis(girls)
    <div class="line ms-3"></div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Vrinda Dua"
      img="assets/img/interiit-winners/Vrinda2022.jpeg"
      position="Best Player , Team - Gold Medal"
    >
    </app-rep-info-card>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Table Tennis(men)
    <div class="line ms-3"></div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <app-rep-info-card
      name="Men's Team"
      img="assets/img/interiit-winners/TableTennisTeam.jpeg"
      position="Bronze Medal"
    >
    </app-rep-info-card>
  </div>

</div>
