<div style="margin-top: 110px; margin-bottom: 70px" class="container">
  <h1 class="title text-center mb-5">
    <i class="fa-solid fa-medal text-danger"></i>&nbsp;&nbsp;Cricket
  </h1>
  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Representstive
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Mihir Kasare"
        contact="+91 ---"
        mail="2022chb1052@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Representative"
        img="assets/img/sports/cricket/rep.jpg"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Ex - Representstive
    <div class="line ms-3"></div>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="card-holder">
      <app-rep-info-card
        name="Pranav Khurana"
        contact="+91 ---"
        mail="2021meb1307@iitrpr.ac.in"
        linkedin="https://www.linkedin.com/in/shivam-bhagat-03734325a/"
        position="Ex-Representative"
        img="assets/img/sports/cricket/xrep.JPG"
      ></app-rep-info-card>
    </div>
  </div>

  <div class="my-5 title-2 d-flex align-items-center justify-content-center">
    <div class="line me-3"></div>
    Achievements
    <div class="line ms-3"></div>
  </div>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>55th Inter IIT sports
    meet
  </h3>
  <p>
    IIT Ropar ranks 4 amongst the 23 IIT’s in Cricket. Player of the tournament
    - AYUSH GUPTA with 270 runs and 9 wickets in 6 matches. Best cricket
    performance in the history of INTER IIT this year.
  </p>
  <h3>
    <i class="fa-solid fa-trophy text-danger me-3"></i>IIT MANDI - RANN NEETI
    CRICKET meet
  </h3>
  <p>IIT Ropar ranks 2 amongst the 8 Cricket teams.</p>
  <h3><i class="fa-solid fa-trophy text-danger me-3"></i>AAROHAN 2023</h3>
  <p>IIT ROPAR A stood 2nd while IIT ROPAR B stood 4th overall</p>
</div>
